@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  color: white;
  background-image: url("https://i.pinimg.com/originals/8d/22/48/8d22486e7e0fecf740351f88466779b5.jpg");
  background-size: cover;
}

a {
  text-decoration: none;
  color: white;
}

.yt_behruzchik {
  width: 500px;
  height: 600px;
  border-radius: 50px;
  border: 2px solid rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  /* background: gray; */
  backdrop-filter: blur(10px);
}

@media (max-width:430px) {
  .yt_behruzchik {
    width: 330px;
    height: 700px;
    border: 3px solid black;
    border-radius: 40px;
  }

  .link h2 {
    font-size: 20px !important;
  }

}

@media(max-width:430px) {
  .behruzchik_info h2 {
    font-family: "Pacifico", cursive;
    font-size: 20px !important;
    padding-right: 5px;
  }
}

.behruzchik {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.linklar {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.behruzchik_info {
  display: flex;
  align-items: center;
  gap: 20px;
  border: 2px solid green;
  border-radius: 100px;
  background-color: rgb(1, 160, 1);
  padding: 5px;
  animation: behruzchik 1s infinite;
  transition: 0.3s;
  animation: wwl 2s ease-in-out;
}

@keyframes wwl{
  0%{
    transform: translateY(-400px);
  }
  50%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}

.behruzchik_info h2 {
  font-family: "Pacifico", cursive;
  font-size: 25px;
  padding-right: 5px;
}

.behruzchik_info:hover {
  transform: scale(1.05);
}


.behruzchik_info img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
}

.link {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 2px solid green;
  border-radius: 100px;
  padding: 5px;
  background-color: green;
  animation: trans 1.5s ease-in-out infinite;
}

/* har biriga delay */
.link:nth-child(1) { animation-delay: 0s; }
.link:nth-child(2) { animation-delay: 0.3s; }
.link:nth-child(3) { animation-delay: 0.6s; }
.link:nth-child(4) { animation-delay: 0.9s; }
.link:nth-child(5) { animation-delay: 1.2s; }
.link:nth-child(6) { animation-delay: 1.5s; }

@keyframes trans {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.1); }
  100% { transform: scale(1); }
}


.link:hover {
  transform: scale(1.05);
}

.link1 {
  text-align: center;
  border-bottom: 2px solid black;
  border-top: 2px solid #000;
  padding-block: 5px;
  animation: lll 2s ease-out ;
}

@keyframes lll{
  0%{
    transform: scale(0.2);
  }
  100%{
    transform: scale(1);
  }
}

.link1 h2 {
  border: 2px solid black;
  padding: 5px;
  border-radius: 100px;
  background-color: #146aec;
}

.link img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}